.date_selector {
	 display: none;z-index: 200000; background:#f2f8fe; position: absolute; padding:3px; border:#125497 solid 1px; height: auto; text-align: left;
}
.date_selector_ieframe {
	display: none; z-index: 99999; position: absolute; width:180px; overflow:hidden;
}
.date_selector .nav {
 	width:180px; padding:0; overflow:hidden; height:18px;position:relative; background:#1262b3; 
	}
.date_selector .month_nav {
  text-align: center; width:100px;position:absolute; left:5px; top:0px;font-weight: bold; line-height: 18px; color:#fff;
}
.date_selector .year_nav {
text-align:center; width:75px; right:0px; top:0px;position:absolute;font-weight: bold; line-height: 18px; color:#fff;
}

.date_selector .button {
	 display: block; font-weight: bold; font-size: 120%; overflow: hidden; width: 18px; color: #003c78; line-height:18px; position: absolute; top: 0px; height: 18px; text-align: center;
}
.date_selector .button:hover {
	 background: none transparent scroll repeat 0% 0%; cursor: pointer; color:#CF3; border-color:#0F3;	  
}
.date_selector .hover {
 background: none transparent scroll repeat 0% 0%; ; cursor: pointer; color: #003c78; border-color:#4f4f4f; 
}
.date_selector .prev {
	left:0px; color:#fff;
}
.date_selector .next {
	right: -2px;color:#fff; margin-right:5px
}
.date_selector table {
	 border-collapse: collapse; margin-left:0px; width:180px; margin-bottom:1px;
}
.date_selector th {
	color:#333; height: 25px; text-align: center; padding:0; font-size:11px; background:#dff5ff; font-weight:normal
}

.date_selector td {
	border:#3c80dc 1px solid;  background: white;  color:#0a4cba; text-align: center; width:20px;
}
.date_selector td.today {
	background:#fee2b9;
}
.date_selector td.unselected_month {
	color: #ccc
}
.date_selector td.selectable_day {
	cursor: pointer
}
.date_selector td.selected {
	font-weight: bold; background: #d8dfe5
}
.date_selector td.selectable_day:hover {
	background:#2869aa; color: #fff;
}
.date_selector td.hover {
	background:#2869aa; color:#fff;
}
